.DS_Store
.dart_tool/

.packages
.pub/

.vscode/
idea/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

google-services.json
.idea/
/example/ios/GoogleService-Info.plist
/example/ios/Runner/GoogleService-Info.plist
example/ios/Flutter/flutter_export_environment.sh
